*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: #FBBC04;
    height: 4rem;
    display: flex;
    color: white;
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    font-size: 15px;
    
}
.header img {
    margin: 1rem;
    background-color: aliceblue;
}